<div class="col-10 offset-1 about">
  <h1>About Splurty </h1>
  <p>
    This Splurty Web App was built by <a target="_blank" href="https://kresmlinpalmore.netlify.com">Kresmlin</a>. A web developer student who is on a mission to learn the technical skills needed to launch her own MVPs and turn ideas into reality.
  </p>
  <br />
  <p>
    Kresmlin would like to learn and share these coding skills to many other people who are interested in learning coding. 
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

    <div class="row">
    <div class="col-12 col-sm-4" style="padding-top: 30px;">
      <%= image_tag 'kresmlin.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Kresmlin Palmore</h2>
      <br />
      <p>
        Kresmlin Palmore is a web developer student who has a background education in business administration. She previously worked as a life insurance agent and telemarketing supervisor in the San Joaquin Valley, CA.  While working as a telemarketing supervisor, she also worked in the area of marketing promoting Agua Limpia Prime Quest water purification system in different events.
      </p>
    </div>
  </div>
  <br class="clear" />
  <br />
<br />
<br />
<br />


</div>